@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #07111f;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.glass {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.06);
}

.gradient-text {
  background: linear-gradient(to right,#22d3ee,#14b8a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-bg {
  background:
  radial-gradient(circle at top left,#22d3ee22,transparent 25%),
  radial-gradient(circle at bottom right,#14b8a622,transparent 25%),
  #07111f;
}

.glow-btn {
  box-shadow: 0 0 20px rgba(34,211,238,0.25);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #14b8a6;
  border-radius: 20px;
}